{%- if section.settings.enable_language_selector and localization.available_languages.size > 1 -%}
  {%- form 'localization', id: 'localization_form_tag', class: 'lang-switcher-form' -%}
    <div class="localization-form__buttons">
      {% for language in localization.available_languages %}
        <button id="locale_item_{{ language.iso_code }}" class="localization-button link" lang="{{ language.iso_code }}" >{{ language.endonym_name | capitalize }}</button>
      {% endfor %}
    </div>

    <input type="hidden" name="locale_code" value="{{ localization.country.iso_code }}" />
  {%- endform -%}
{% endif %}

<script>
  document.addEventListener("DOMContentLoaded", function() {
    document.querySelectorAll(".localization-button").forEach(item => {
      item.addEventListener("click", event => {
        // Получаем код языка из атрибута lang кнопки
        var langCode = item.getAttribute("lang");
        console.log("Выбран язык:", langCode); // Добавляем отладочное сообщение
        // Находим скрытое поле формы с именем "locale_code" и устанавливаем его значение на код языка
        var localeCodeField = document.querySelector("#localization_form_tag input[name='locale_code']");
        console.log("Поле формы:", localeCodeField); // Добавляем отладочное сообщение
        if (localeCodeField) {
          localeCodeField.value = langCode;
          // Отправляем форму
          document.getElementById("localization_form_tag").submit();
        } else {
          console.error("Поле формы не найдено");
        }
      });
    });
  });
</script>