<div id="shopify-block-iwish_wishlist_app_block_y3khxe" class="shopify-block shopify-app-block iwish-app-block-wrapper">

 

  <a href="#" class="iWishAdd" data-variant="{{ card_product.selected_or_first_available_variant.id }}" data-product="{{ card_product.id }}" data-ptitle="{{ card_product.title | escape }}"><!-- BEGIN app snippet: all-svgs -->
	<svg height="25px" width="25px" style="stroke:currentColor;stroke-width: 10px;" id="Layer_1" version="1.1" viewBox="0 0 512 512" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M340.8,98.4c50.7,0,91.9,41.3,91.9,92.3c0,26.2-10.9,49.8-28.3,66.6L256,407.1L105,254.6c-15.8-16.6-25.6-39.1-25.6-63.9  c0-51,41.1-92.3,91.9-92.3c38.2,0,70.9,23.4,84.8,56.8C269.8,121.9,302.6,98.4,340.8,98.4 M340.8,83C307,83,276,98.8,256,124.8  c-20-26-51-41.8-84.8-41.8C112.1,83,64,131.3,64,190.7c0,27.9,10.6,54.4,29.9,74.6L245.1,418l10.9,11l10.9-11l148.3-149.8  c21-20.3,32.8-47.9,32.8-77.5C448,131.3,399.9,83,340.8,83L340.8,83z"></path></svg>



<!-- END app snippet --><span>Add To Wishlist</span></a>



</div>

<style>
  .iWishAdd {
    margin-bottom: 10px;
  }
  .iWishAdd span,
  .iWishAddColl span {
    margin-left: 5px;
  }
  .iWishAddColl {
    position: absolute;
  }
  .iWishAdd,
  .iWishAddColl {
    padding: 5px 0;
    background: transparent;
    border: none;
    font-size: 14px;
    letter-spacing: 0.1rem;
    line-height: 1.2;
    cursor: pointer;
    z-index: 99;
    display: flex;
    vertical-align: middle;
    align-items: center;
    flex-direction: row;
  }
  .iWishAdd,
  .iWishAddColl:hover {
    color: #000000}
  .iWishAdd,
  .iWishAddColl {
    
      color: #000000;
    
  }
  .iWishAdd svg,
  .iWishAdd svg path {
    fill: #000000;
  }
</style>

<script async="" type="text/javascript">
  var shop = "adc7f4-22.myshopify.com";
  var iwish_qvWrapper = "";
  var iwish_qvBtn_click = "";
  var iwish_custom_filters = "";
  var variant_name_id_selector = "[name=id]"
  var filter_timeout = 1500
  var is_iwish_col_template = false;
  var iwish_shop = "adc7f4-22.myshopify.com";
  var custom_variant_change = "";
  var iwish_cid = "";
  //console.log("Fre::",`<span> Add To Wishlist </span> `);
  var iwish_add_txt = `<!-- BEGIN app snippet: all-svgs -->
	<svg height="25px" width="25px" style="stroke:currentColor;stroke-width: 10px;" id="Layer_1" version="1.1" viewBox="0 0 512 512"  xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M340.8,98.4c50.7,0,91.9,41.3,91.9,92.3c0,26.2-10.9,49.8-28.3,66.6L256,407.1L105,254.6c-15.8-16.6-25.6-39.1-25.6-63.9  c0-51,41.1-92.3,91.9-92.3c38.2,0,70.9,23.4,84.8,56.8C269.8,121.9,302.6,98.4,340.8,98.4 M340.8,83C307,83,276,98.8,256,124.8  c-20-26-51-41.8-84.8-41.8C112.1,83,64,131.3,64,190.7c0,27.9,10.6,54.4,29.9,74.6L245.1,418l10.9,11l10.9-11l148.3-149.8  c21-20.3,32.8-47.9,32.8-77.5C448,131.3,399.9,83,340.8,83L340.8,83z"></path></svg>



<!-- END app snippet --><span>Add To Wishlist</span>`;
  var iwish_add_txt_col = `<!-- BEGIN app snippet: all-svgs -->
	<svg height="25px" width="25px" style="stroke:currentColor;stroke-width: 10px;" id="Layer_1" version="1.1" viewBox="0 0 512 512"  xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M340.8,98.4c50.7,0,91.9,41.3,91.9,92.3c0,26.2-10.9,49.8-28.3,66.6L256,407.1L105,254.6c-15.8-16.6-25.6-39.1-25.6-63.9  c0-51,41.1-92.3,91.9-92.3c38.2,0,70.9,23.4,84.8,56.8C269.8,121.9,302.6,98.4,340.8,98.4 M340.8,83C307,83,276,98.8,256,124.8  c-20-26-51-41.8-84.8-41.8C112.1,83,64,131.3,64,190.7c0,27.9,10.6,54.4,29.9,74.6L245.1,418l10.9,11l10.9-11l148.3-149.8  c21-20.3,32.8-47.9,32.8-77.5C448,131.3,399.9,83,340.8,83L340.8,83z"></path></svg>



<!-- END app snippet -->`;
  var iwish_added_txt = `<!-- BEGIN app snippet: all-svgs -->


	<svg height="25px" width="25px" id="Layer_1" style="enable-background:new 0 0 512 512;" version="1.1" viewBox="0 0 512 512"  xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M340.8,83C307,83,276,98.8,256,124.8c-20-26-51-41.8-84.8-41.8C112.1,83,64,131.3,64,190.7c0,27.9,10.6,54.4,29.9,74.6  L245.1,418l10.9,11l10.9-11l148.3-149.8c21-20.3,32.8-47.9,32.8-77.5C448,131.3,399.9,83,340.8,83L340.8,83z"></path></svg>

<!-- END app snippet --><span>Added To Wishlist</span>`;
  var iwish_added_txt_col = `<!-- BEGIN app snippet: all-svgs -->


	<svg height="25px" width="25px" id="Layer_1" style="enable-background:new 0 0 512 512;" version="1.1" viewBox="0 0 512 512"  xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M340.8,83C307,83,276,98.8,256,124.8c-20-26-51-41.8-84.8-41.8C112.1,83,64,131.3,64,190.7c0,27.9,10.6,54.4,29.9,74.6  L245.1,418l10.9,11l10.9-11l148.3-149.8c21-20.3,32.8-47.9,32.8-77.5C448,131.3,399.9,83,340.8,83L340.8,83z"></path></svg>

<!-- END app snippet -->`;
  var drawerData = document.getElementById("drawer_data");

  setTimeout(()=>{
    if(drawerData){
      let isMultiLang =  drawerData.getAttribute("data-ismultilang");
      if(isMultiLang=="true"){
        iwish_add_txt = `<!-- BEGIN app snippet: all-svgs -->
	<svg height="25px" width="25px" style="stroke:currentColor;stroke-width: 10px;" id="Layer_1" version="1.1" viewBox="0 0 512 512"  xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M340.8,98.4c50.7,0,91.9,41.3,91.9,92.3c0,26.2-10.9,49.8-28.3,66.6L256,407.1L105,254.6c-15.8-16.6-25.6-39.1-25.6-63.9  c0-51,41.1-92.3,91.9-92.3c38.2,0,70.9,23.4,84.8,56.8C269.8,121.9,302.6,98.4,340.8,98.4 M340.8,83C307,83,276,98.8,256,124.8  c-20-26-51-41.8-84.8-41.8C112.1,83,64,131.3,64,190.7c0,27.9,10.6,54.4,29.9,74.6L245.1,418l10.9,11l10.9-11l148.3-149.8  c21-20.3,32.8-47.9,32.8-77.5C448,131.3,399.9,83,340.8,83L340.8,83z"></path></svg>



<!-- END app snippet --><span> Add To Wishlist </span> `;
      }
    }
  },500);
</script>
