{% form 'localization', id: "localization_form_tag", class: "lang-switcher" %}
  {%- form 'localization', id: 'HeaderCountryMobileFormNoScript', class: 'localization-form' -%}
  <div class="localization-form__buttons">
    <button class="localization-button link" name="country_code" value="en">English</button>
    <button class="localization-button link" name="country_code" value="ua">Ukraine</button>
  </div>
  <button class="button button--tertiary">{{ 'localization.update_country' | t }}</button>
{%- endform -%}
{% endform %}