* {
  line-height: 100%;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  color: #000000;
}

input {
  margin: 0;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1640px;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.underline {
  text-decoration: underline;
}

.hover_opacity:hover {
  opacity: 0.6;
  transition: all 0.5s ease;
}

.header.page-width {
  max-width: var(--page-width);
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

@media screen and (min-width: 750px) {
  .header.page-width {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
/* @media */
