.breadcrumbs .breadcrumbs__list {
  display: flex;
  align-items: center;
  gap: 5px;
}

.breadcrumbs .breadcrumbs__list li {
  color: #a9a9a9;
  font-size: 10px;
  font-weight: 400;
}

.breadcrumbs .breadcrumbs__list li a {
  color: #a9a9a9;
  text-decoration: none;
}
.breadcrumbs .breadcrumbs__list li a.active {
  color: #000000;
}
