#sorting_collapse,
#filter_collapse {
  overflow: hidden;
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.1s ease;
}

.filter_collapse,
.sorting_collapse {
  min-height: 0;
}

#filter_collapse.active,
#sorting_collapse.active {
  grid-template-rows: 1fr;
}
#filter_collapse.no_animate,
#sorting_collapse.no_animate {
  transition: none;
}

.category_navigation .text_primary {
  font-size: 10px;
  font-weight: 400;
}

.category_navigation .header_section {
  display: flex;
  flex-direction: column;
  gap: 23px;
  padding: 16px 0;
  border-bottom: 2px solid #a9a9a9;
  margin-bottom: 20px;
}

.category_navigation .navigation {
  display: flex;
  align-items: center;
  gap: 23px;
  justify-content: space-between;
}

.category_navigation .navigation button {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 10px;
  font-weight: 400;
}

.category_navigation .sorting_button svg {
  width: 15px;
  height: 15px;
  transition: all 0.2s ease;
}

.category_navigation .filters_button svg {
  width: 18px;
  height: 18px;
}

.category_navigation .sorting_button.active svg,
.category_navigation .sorting_button.active svg {
  transform: rotate(-180deg);
}

.sorting_collapse {
  display: flex;
  justify-content: end;
}

.collapse .sorting_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 500px;
  width: 100%;
}

.filter_list {
  row-gap: 10px;
  column-gap: 16px;
  display: grid;
  margin-top: 19px;
}
.filter_collapse {
  display: grid;
  row-gap: 40px;
  column-gap: 27px;
  grid-template-columns: repeat(12, 1fr);
  justify-content: space-between;
}

.filter_collapse .season_filter {
  grid-column-start: span 12;
}

.filter_collapse .size_filter {
  grid-column-start: span 12;
}

.filter_collapse .colors_filter {
  grid-column-start: span 12;
}

.filter_collapse .colection_filter {
  grid-column-start: span 12;
}

.filter_collapse .availability_filter {
  grid-column-start: span 7;
}

.filter_collapse .additional_filter {
  grid-column-start: span 5;
}

.collapse .season_filter_list {
  grid-template-columns: 1fr 1fr;
}

.filter_collapse .size_filter_list {
  grid-template-columns: repeat(4, 1fr);
}

.filter_collapse .size_filter_list input:last-child {
  padding: 0;
  width: auto;
  grid-column-start: span 2;
  align-self: stretch;
  vertical-align: middle;
}

.filter_collapse .size_filter_list input:last-child::before {
  padding: 0;
  height: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter_collapse .colors_filter_list {
  display: flex;
  flex-wrap: wrap;
}

.filter_collapse .colors_filter_list input {
  max-width: 95px;
  width: 100%;
  flex-shrink: 0;
}

.filter_collapse .colection_filter_list {
  grid-template-columns: repeat(2, 1fr);
}

.filter_collapse .availability_filter_list {
  grid-template-columns: repeat(1, 1fr);
}

.filter_collapse .additional_filter_list {
  grid-template-columns: repeat(1, 1fr);
}

.filter_collapse .button_clear_box {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.filter_collapse .btn_clear_filters {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media screen and (min-width: 430px) {
  .filter_collapse .season_filter {
    grid-column-start: span 5;
  }

  .filter_collapse .size_filter {
    grid-column-start: span 7;
  }

  .filter_collapse .colors_filter {
    grid-column-start: span 12;
  }

  .filter_collapse .colection_filter {
    grid-column-start: span 5;
  }

  .filter_collapse .availability_filter {
    grid-column-start: span 4;
  }

  .filter_collapse .additional_filter {
    grid-column-start: span 3;
  }
}

@media screen and (min-width: 576px) {
}

@media screen and (min-width: 834px) {
  .category_navigation .header_section {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
    margin-bottom: 30px;
  }
  .category_navigation .navigation {
    justify-content: flex-end;
  }
}

@media screen and (min-width: 992px) {
}

@media screen and (min-width: 1200px) {
  .filter_collapse {
    grid-template-columns: repeat(18, 1fr);
  }
  .filter_collapse {
    row-gap: 0px;
  }
  .filter_collapse .button_clear_box {
    margin-top: 30px;
  }
  .filter_collapse .colors_filter_list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
  .filter_collapse .season_filter {
    grid-column-start: span 3;
  }

  .filter_collapse .size_filter {
    grid-column-start: span 3;
  }

  .filter_collapse .colors_filter {
    grid-column-start: span 6;
  }

  .filter_collapse .colection_filter {
    grid-column-start: span 3;
  }

  .filter_collapse .availability_filter {
    grid-column-start: span 2;
  }

  .filter_collapse .additional_filter {
    grid-column-start: span 1;
  }
}

@media screen and (min-width: 1400px) {
  .filter_collapse {
    column-gap: 50px;
  }
  .filter_collapse .season_filter {
    grid-column-start: span 3;
  }

  .filter_collapse .size_filter {
    grid-column-start: span 3;
  }

  .filter_collapse .colors_filter {
    grid-column-start: span 6;
  }

  .filter_collapse .colection_filter {
    grid-column-start: span 3;
  }

  .filter_collapse .availability_filter {
    grid-column-start: span 2;
  }

  .filter_collapse .additional_filter {
    grid-column-start: span 1;
  }
}

@media screen and (min-width: 1640px) {
  .filter_collapse {
    column-gap: 77px;
  }
}
