/* checkbox_filters*/
.checkbox_filters {
  font-size: 10px;
  font-weight: 400;
  appearance: none;
  display: block;
}

.checkbox_filters::before {
  content: attr(data-label) " ";
  display: block;
  padding: 10px 0px;
  background-color: transparent;
  color: #000000;
  cursor: pointer;
  text-align: center;
  transition: all 0.4s ease;
  border: 1px solid #000000;
  overflow-wrap: break-word;
}

.checkbox_filters:checked::before {
  background-color: #000000;
  color: #ffffff;
}

@media screen and (hover) {
  .checkbox_filters:hover::before {
    opacity: 0.5;
  }
}
/* checkbox_filters end*/

/* button_outline*/
.button_outline {
  padding: 10px 22px;
  background-color: transparent;
  color: #000000;
  cursor: pointer;
  text-align: center;
  transition: all 0.4s ease;
  border: 1px solid #000000;
}

.button_outline svg {
  transition: all 0.4s ease;
  stroke: #000000;
}

.button_outline:hover svg {
  stroke: #ffffff;
}

.button_outline:hover {
  background-color: #000000;
  color: #ffffff;
}

/* button_outline end*/

/* button_primary */
.button_primary {
  width: 100%;
  display: inline-flex;
  padding: 12px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: #000;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  border: none;
  border: 1px solid black;
  transition: all 0.4s ease;
}

.button_primary:hover {
  background-color: #ffffff;
  color: #000;
}

/* button_primary end*/
